main.container
  ul.todo
    li.todo__list-item 
      button Get new task
    li.todo__list-item 
      button Think about it
    li.todo__list-item 
      button Smile
  button.create-new-task.button +
  #create-task
    include base/_create-todo