main.main
  ul.todo-list
    //- li.todo-list__list-item 
    //-   button.button.button--plain.todo-list__action-button Think about it
    //- li.todo-list__list-item 
    //-   button.task-complete.button.button--plain.todo-list__action-button Get new task
    //- li.todo-list__list-item 
    //-   button.button.button--plain.todo-list__action-button Smile
  button.create-new-task.button.button--primary +
#create-task
  include base/_create-todo