.container
  .cols.col
    form.create-task
      label(for="add-task") Create New Task
      input#add-task(type="text", name="add-task" placeholder="Add new task")
      button.button.button--plain.create-task__action-button(type="submit") Tasks