head
  meta(charset='utf-8')
  // TODO add a title here
  title Todo app
    
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='theme-color' content="#ff5859")
  link(rel='stylesheet', href='styles/main.css')
